main {
  height: 100%;
}

.container{
  height: 95%;
  margin: 0 auto;
  width: 95%;
}

h3 {
  margin: 0px;
}

.main-display-customer-name {
  bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: absolute;
  & .main-hide-customer-name {
    height: 35px;
    margin: 0px 10px;
  }
}

.tab {
  height: 100%;
}

ul.tabs{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.tabs li{
  background: none;
  color: $textColor;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
}

ul.tabs li.current{
  background: $secondaryColor;
  color: #222;
}

ul.tabs li.current{
  background: $secondaryColor;
  color: #222;
}

.tab-content,
.tab-content-3 {
background: $secondaryColor;
display: none;
height: 500px;
padding: 15px;
}

.tab-content.current{
  display: inherit;
  overflow: auto;
}





