.tab4-input-container {
  display: flex;
}

#tab4-customer-search {
  cursor: pointer;
  width: 30%;
}

.tab4-output-container {
  display: flex;
  justify-content: space-around;
}

.tab4-new-customer-form {
  display: flex;
  height: 100%;
  width: 50%;
}

#tab4-add-new-customer-btn {
  width: 20%;
}

.tab4-new-customer-input-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
}

.tab4-customer:hover {
  background-color: $backgroundColor;
  cursor: pointer;
}

.tab4-customer-input {
  height: 25px;
  margin: auto;
  width: 80%;
}

.tab4-customer-output {
  border-right: 1px solid $accentBlue;
  height: 450px;
  overflow: auto;
  width: 50%;
}