#tab2-date-input {
  width: 20%;
}

.tab2-days-orders {
  overflow: auto;
  width: 50%;
}

.tab2-days-orders-text {
  border-bottom: 1px solid $accentBlue;
  border-right: 1px solid $accentBlue;
  font-size: 16px;
}