.tab3-controls {
  height: 25px;
  width: 25%;
}

.tab3-display-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: none;
  max-height: 480px;
  padding: 0px;
  width: 100%;
}

.tab3-filters {
  margin-left: auto;
}

.tab3-filter-controls {
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 50%;
}

#tab3-filter-input {
  height: 40px;
  width: 25%;
}

.tab3-default-displays {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab3-room-displays {
  height: 440px;
  margin-right: auto;
  overflow: auto;
  width: 100%;
}

.tab3-booking-display {
  border-bottom: 1px solid $accentBlue;
  border-right: 1px solid $accentBlue;
  display: inline-block;
  width: 50%;
}

.tab3-room-display {
  border-bottom: 1px solid $accentBlue;
  border-right: 1px solid $accentBlue;
  padding-bottom: 5px;
  width: 50%;
}

.tab3-search-dates {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.tab3-new-booking-form {
  bottom: 225px;
  display: flex;
  flex-direction: column;
  height: 275px;
  left: 50%;
  margin-bottom: auto;
  margin-left: auto;
  padding: 25px;
  position: absolute;
  width: 45%;
}

.tab3-submit-booking-btn {
  margin-top: 20px;
}

.tab3-new-booking-input {
  margin: 5px 0px;
}

.tab3-booking-confirmation {
  margin: auto;
}