.tab1-date {
  border-bottom: 2px solid $accentBlue;
  display: flex;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.tab1-primary-info {
  border-bottom: 2px solid $accentBlue;
  display: flex;
  height: 30%;
  width: 100%;
}

.tab1-primary-info-text {
  font-size: 24px;
}