/* This is an example of using Sass, otherwise plain CSS works too*/
$backgroundColor: #5CDB95;
$secondaryColor: #EDF5E1;
$tertiaryColor:  #379683;
$accentBlue: #05386B;
$textColor: #004;

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-color: $backgroundColor;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6
}

header {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

h1 {
  color: $textColor;
}

main {
  height: 100%;
}

.container{
  width: 95%;
  height: 95%;
  margin: 0 auto;
}

.tab {
  height: 100%;
}

.tab1-date {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $accentBlue;
}

.tab1-primary-info {
  width: 100%;
  height: 30%;
  display: flex;
  border-bottom: 2px solid $accentBlue;
}

.tab1-primary-info-text {
  font-size: 24px;
}

#tab2-date-input {
  width: 20%;
}

.tab2-days-orders {
  width: 50%;
  border-right: 1px solid $accentBlue;
  overflow: auto;
}

.tab2-days-orders-text {
  font-size: 16px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li{
  background: none;
  color: $textColor;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
  height: 500px;
}

.tab-content.current{
  display: inherit;
}

.info-bold {
  font-weight: 800;
}

#tab3-search-room-input {
  width: 25%;
  align-self: center;
}

.tab3-default-displays {
  display: flex;
  justify-content: center;
  width: 50%;
  border-right: 1px solid $accentBlue;
}

.tab4-input-container {
  display: flex;
  justify-content: space-around;
}

#tab4-customer-search {
  width: 25%;
}